#app {
  position: relative;
}

#content {
  /* position: absolute;
  top: 0; */
  text-align: center;
  padding-bottom: 70px;
  margin: 0px 100px;
}
#footer p {
  vertical-align: middle;
  display: table-cell;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  display: table;
  background-color: rgb(8, 63, 3);
  text-align: center;

  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
}

#pie-chart,
#sankey-chart,
#sunburst-chart {
  height: 400px;
}

#sankey-chart {
  width: 700px;
  margin: auto;
}
#pie-attr a {
  cursor: pointer;
  margin-right: 20px;
  font-weight: 500;
  color: crimson;
}
